---
export interface Props {
	columns: string
	titleColumns: string
	title: string
	content: Array<lista>
	image: string
}
export interface lista {
	style?: string
	text: string
}

const { columns, titleColumns, title, content, image } = Astro.props
---

<figure>
	<img src={image} class='border-4 border-neutral-800 sm:max-w-lg mx-auto' />
</figure>
<ul class={`grid grid-cols-2 gap-2 md:gap-3 ${columns}`}>
	<span class={`text-2xl font-semibold ${titleColumns}`}>
		{title}
	</span>
	{
		content.map((item) => (
			<li
				class={`bg-neutral-200 hover:bg-neutral-300 rounded-lg p-2 text-center ${item.style} `}
			>
				{item.text}
			</li>
		))
	}
</ul>
